/*html {*/
/*    font-size: 10px;*/
/*    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat, no-repeat;*/
/*}*/

body,html {
    margin: 20px;
    font-family: sans-serif;
    background: #24292E;
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat, no-repeat;*/
}

h1 {
    font-size: 100px;
    color: #ffc600;
    text-align: center;
    text-shadow: 0 0 .5rem #ffc600;
}

/*ul {*/
/*    font-size: 40px;*/
/*    color: #ffc600;*/
/*    text-align: left;*/
/*    text-shadow: 0 0 .5rem #ffc600;*/
/*    margin-bottom: -10px;*/
/*    padding-bottom: -10px;*/
/*}*/


.keys {
    display: flex;
    flex: auto ;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;

}

.key {
    border: .4rem solid #ffc600;
    border-radius: 5rem;
    margin: 1rem;
    font-size: 5.5rem;
    padding: 1rem .5rem;
    transition: all .03s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: black;
    text-shadow: 0 0 .5rem whitesmoke;
}

.playing {
    transform: scale(3.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

